* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    font-size: 100%;
    background-image: url(./img//design2_image1.jpg);
background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:scroll;
    top:0px;
    
}

header > img{

}

header > h1 {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;  
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
   color: white;
}

header > h2 {
    background-color: black;
    color: white;
    font-size: 5x;
    height: 100%;
    text-align: center;
}
body{
    width: 100%;
}

header > img{
    padding: 8px;
    background-color: white;
    border: rgb(0, 0, 0) 5px solid;
    position: relative;
    top: 100px;
    left: 80%;  
}

.contenedor {
    display: grid;
    grid-template-columns: 15% auto;
}

nav > a {

    height: 80%%;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 5px;
}

footer{
    width: 40%;
    height: 100%;
    top: 10%;
    left: 0%;  
}

#imgf {
    padding: 10px;
    margin: 5px;    
    background-position: center;
    border: rgb(0, 0, 0) 5px solid;
    position: relative;
}

/* header:hover {filter: opacity(.5);} */