* {
    padding: 4px;
    margin: 4px;
    box-sizing: border-box;
}

header {
    font-size: 100%;
    background-image: url(./img//design2_image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:scroll;
    top:0px;
}

header > h1 {
    color: rgb(238, 255, 0);
    position: absolute;
    top: 250px;
    left: 500px;  
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 5em rgb(218, 3, 3), 0 0 0.5em blue;
   color: rgb(0, 0, 0);
}



header > h2 {
    text-shadow: 1px 1px 2px black, 0 0 5em rgb(218, 3, 3), 0 0 0.5em blue;
    color: rgb(0, 0, 0);
    font-size: 35px;
    position:absolute;
    top: 300px;
    left: 650px; 
}

body{
    width: 100%;
    background: linear-gradient(rgb(220, 172, 226), pink);

}

header > img{
    padding: 8px;
    background-color: white;
    border: rgb(0, 0, 0) 5px solid;
    position:static;
    top: 100px;
    left: 80%; 
    display: grid;
    grid-template-columns: 15% auto;
}

header > img:hover {
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);}

footer{
    width: 40%;
    height: auto;
    top: 10%;
    left: 0%;  
    position: absolute;
    top: auto;
    left: 500px;
}

footer :hover {-webkit-transform:scale(1.3);transform:scale(1.3);
    overflow:hidden; ;
    }

nav{
    text-decoration: none;
    display: inline-block;
    background-color: rgb(230, 122, 122);
    text-shadow: 1px 1px 2px black, 0 0 5em rgb(218, 3, 3), 0 0 0.5em blue;
    color: rgb(0, 0, 0);
    font-size: 35px;
    padding-top: 5px;
    width: 400px;
    height: 1000%;
    color: white;
    text-align: center;
    margin-bottom: 2px;
    border: rgb(0, 0, 0) 2px solid;
}
nav > a:hover, .selected {
    background-color: rgb(240, 236, 46);
}

nav:hover {filter: opacity(.5);}
