*{
    box-sizing: border-box;
    padding: 0px;
    margin: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(245, 200, 230);
}

/*HEADER*/

header {
    font-size: 100%;
    background-image: url(./img//design2_image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:scroll;
    opacity: 97%;
    margin: 8px;
    
}

header > h1 {
    text-align: center;
    text-shadow: 1px 1px 2px rgb(255, 4, 213), 0 0 5em rgb(255, 14, 183), 0 0 0.5em rgb(241, 67, 218);
    color: rgb(44, 2, 35);
    font-size: 50px;
}

header > h2 {
    text-shadow: 1px 1px 2px rgb(255, 4, 213), 0 0 5em rgb(255, 14, 183), 0 0 0.5em rgb(241, 67, 218);
    color: rgb(44, 2, 35);
    font-size: 35px;
    text-align: center;
}

header > h3 {
    text-shadow: 1px 1px 2px rgb(255, 4, 213), 0 0 5em rgb(255, 14, 183), 0 0 0.5em rgb(241, 67, 218);
    color: rgb(44, 2, 35);
    font-size: 35px;
    text-align: center;
}

header > img{
    padding: 8px;
    background-color: white;
    border: rgb(0, 0, 0) 5px solid;
    align-content: flex-start;
    align-items: stretch;
    border-radius: 10px;
    padding: 20px;
   display: flex;
}

header > img:hover {
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec1e8f;
    -webkit-box-shadow: 0px 0px 15px 15px ##ec1e8f;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

/*NAV*/

nav {
    background-color: rgb(241, 67, 218);
    padding: 0 5px;
    display: flex;
    text-shadow: 1px 1px 2px black, 0 0 5em rgb(109, 14, 14), 0 0 0.5em rgb(107, 7, 7);
    flex-wrap: nowrap;
    justify-content: center;
}

nav > a:hover, .selected {
    background-color: rgb(240, 236, 46);
}

nav:hover {filter: opacity(.8);}

a {
    color: #220c1d;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    width: 200px;
    text-align: center;
    flex-wrap: nowrap;
    align-items: stretch;
}

/* TABLAS */
table {
    width: 100%;
    border: 1px solid #999;
    text-align: center;
    margin: auto;
 }

th{
    background-color: #c98faf;
}

 caption, td, th{
    padding: 0.3em;
 }

 th, td{
    border-bottom: 1px solid #999;
    width: 25%;
 }

 caption {
    font-weight: bold;
    font-style: italic;
 }

/*SECTION */

section, section > div {
    height: auto;
    width: 1260px;
    margin: 20px;
    text-align: left;
    justify-content: center;
    align-content: center;
 }

 #letra{
    list-style-type: lower-latin;
 }

 #uderline{
    text-decoration: underline;
 }
/*FOOTER*/
 
footer{
    padding: 2px;
    border-radius: 10px;
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  footer > img {
    border: 5px dotted rgb(0, 0, 0);
  }

footer :hover {-webkit-transform:scale(0.8);transform:scale(1.1);
    overflow:hidden; ;
    }


